<% include partials/header %>
<h1>i'm  <%= username %>'s  book list</h1>

<h3>User Book List</h3>
<p> <%= username %> has <%= totalBook %> <%= totalBook > 1 ?  'Books' : ' Book' %> </p>

<% data.forEach(function(row){ %>
   <ul class="user">
    <a href="/books/details/<%= row._id%>"><li class="user">  <%= row.title %> </li></a> 
    </li>
    </ul>
<% }) %>

<button type="submit" class="btn btn-outline-info newer-posts">Next</button>
<button type="submit" class="btn btn-outline-info older-posts">Previous</button>
<% include partials/footer %>